<h1>Zdravím,</h1>

<p>
    Prosím potvrď e-mail kliknutím zde: <br><br>
    <a href="{{ signedUrl|raw }}">Potvrdit e-mail</a>.
    Tenno odkaz je aktivní na {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Měj se!
</p>
