{% extends 'frontend/game/game_base.html.twig' %}

{% block title %}{{ 'game.detail'|trans }}{% endblock %}

{% block body %}
    <section>
        <div class="detail-background"></div>
    </section>
{% endblock %}