{% extends 'frontend/game/game_base.html.twig' %}

{% block title %}{{ 'game.detail'|trans }}{% endblock %}

{% block body %}
    <section>
        <a href="{{ path('app_game_map', {'id': gameProfile.game.id}) }}">Zpět na mapu</a>
        <div class="detail-background"></div>
    </section>
{% endblock %}