.mini-games {
  align-items: unset;
  margin: 3rem 0;
}

.mini-game-match {
  align-items: unset;
  margin: 3rem 0 0 0;

  &__parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

      .row {
        background-color: lightblue;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
        border: 1px solid black;
        width: 8rem;
        justify-content: center;
      }

      .active {
        background-color: mediumpurple;
      }

      .correct {
        background-color: lightgreen;
      }

      .mistake {
        background-color: lightcoral;
      }
    }
  }
}

.mini-game-drag {
  align-items: unset;
  margin: 3rem 0 0 0;

  &__parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem 0 0 0;

    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2rem;
      max-width: 50rem;
      flex-wrap: wrap;

      .row {
        background-color: lightblue;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
        border: 1px solid black;
        width: 8rem;
        justify-content: center;
      }

      .correct {
        background-color: lightgreen;
      }

      .mistake {
        background-color: lightcoral;
      }

      .result {
        background-color: lightseagreen;
        height: 6rem;
        width: 8rem;
        align-items: center;

        &-equals {
          width: 2rem;
        }
      }

      &.col-result {
        max-width: unset;
      }
    }
  }
}