$color-blue: #0a53be;
$color-green: #6fa005;
$color-font-base: black;

$default-letter-spacing: 0;
$default-line-height: 1.5;
$default-transitions: 0.3s;
$size-font-text-base: 1.5rem;
$size-font-text-bigger: 1.7rem;
$weight-font-regular: 400;
$weight-font-bold: 600;
$weight-font-base: 400;
