@use "./shared" as shared;
@use "./variables" as tokens;

.admin-game-detail {
  display: flex;
  flex-direction: column;

  .add-new {
    max-width: 10rem;
    margin: 0 0 1rem auto;
  }

  table {
    width: 100%;
    border: 1px solid black;

    td, th {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;

      img {
        max-width: 2rem;
        margin: 0 0.5rem;
      }

      &.action {
        width: 10rem;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;

        label {
        font-size: 1.5rem;
        }

        input, select {
        font-size: 1.5rem;
        padding: 0.5rem;
        }

      ul {
        list-style-type: none;
        padding: 0;

        li {
            font-size: 1rem;
            color: red;
        }
      }
    }

    .form-group--inline {
        display: flex;
        gap: 1rem;

        .form-group {
        flex: 1;
        }
    }

    .form-group--action {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

  #registration_form_roles {
    label {
      margin: 0 2rem 0 0;
    }

    input {
        margin: 0 0.5rem 0 0;
    }
  }

  button[type="submit"] {
    @extend .btn, .btn-big;
  }
}